@model IEnumerable<StudentManager.Areas.Admin.Models.Chungchi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Chứng chỉ</strong></div>
        <div class="panel-body">
            <p class="text-right">
                <a href="@Url.Action("Create", "Quanlychungchi")" class="btn btn-sm btn-success"> Thêm mới <i class="glyphicon glyphicon-plus"></i></a>
            </p>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.sTenchungchi)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.dNgaybatdau)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.dNgayketthuc)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.sLinkdinhkem)
                    </th>
                    <th class="text-center">
                        Tác vụ
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sTenchungchi)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.dNgaybatdau)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.dNgayketthuc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sLinkdinhkem)
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", "Quanlychungchi", new { id = item.ID })" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="@Url.Action("Delete", "Quanlychungchi", new { id = item.ID })" class="btn btn-sm btn-danger delete"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
